body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

#app {
    background-image: url("images/table.png");
    background-size: cover;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 5px;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
}

#message-el {
    font-style: italic;
}

button {
    width: 150px;
    background: #fff100;
    color: black;
    padding: 0.5em 0;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 1em auto;
    display: block;
}

#btn {
    display: flex;
    flex-direction: column;
}